body {
  background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-hormigon_1258-48225.jpg?w=2000);
}


nav {
  background-color: #2f2f2f;
  text-align: center;
  border-radius: 15px;
  margin: 0 3% 0 3%;
}

nav li {
  margin: 0 3% 0 3%;
  display: inline;
}

nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3px;
  font-family: "Work Sans", sans-serif;
}

nav a:hover {
  color: white;
  text-decoration: overline;
}


#caja-titulo {
  margin: 0 3% 16px 3%;
  padding: 1.5%;
  border-radius: 15px;
  background: linear-gradient(
    45deg,
    #900033,
    #F6CD1F,
    #94C2CF,
    #F6CD1F,
    #900033
  );
}

#titulo {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 12px;
}

#slides-container {
  margin: 0 3% 0 3%;
}

#wakanda-poster {
  margin: 1% 3% 1% 3%;
}

#wakanda-poster img {
  width: 100%;
}

#caja-poster {
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
}

.posters {
  display: inline;
}

.imagen-poster {
  height: 630px;
  width: auto;
}

/* Footer empieza */

footer {
  margin-top: 25px;
  background-color:#2f2f2f;
  padding: 20px;
}

footer p {
  color: white;
}

footer h4 {
  margin-left: 10%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contacto a {
  color: white;
  margin-left: 10%;
  font-size: 20px;
}

.contacto a:hover {
  color: #F6CD1F;
  font-weight: bold;
  text-decoration:overline;
}
  
#copyright {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  margin: 20px;
}